<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnLAQysEInHb4FtWO4KVEcshtQIidcjag</string>
	<key>GCM_SENDER_ID</key>
	<string>557086055312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reporte.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>proyecti-d802e</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecti-d802e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557086055312:ios:47d6ffdeebd71ee31cb115</string>
</dict>
</plist>